body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    font-family: Georgia, serif;
    background-image: url('images/background.png');
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;
}

h1 {
    color: #94FF94;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(174, 148, 148, 0.7);
    margin: 0;
    margin-top: 10px;
}

canvas {
    border: 5px solid #8B4513; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

form {
    margin: 20px 0;
}

label {
    font-size: 30px;
    margin-right: 10px;
    color: #fff;
}

#score {
    text-align: center;
    width: 100px;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #556B2F; 
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #3e4d1e;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #556B2F; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px #3e4d1e;
    margin-top: 10px;
}

button:active {
    box-shadow: none;
    transform: translateY(4px);
}